---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="About Me"
  description="About PJ Srivastava — project manager, Agile coach, and consultant."
>
  <article class="max-w-prose mx-auto prose">
    <h1>About Me</h1>

    <p>
      I first studied programming when I was 11 years old, back in the day when that meant
      learning BASIC on a TRS-80 (shout-out to any veterans that remember this). In high
      school I learned a new language called HTML and then, when I graduated from college,
      a new platform called .NET.
    </p>
    <p>
      I've since had careers as a software developer, marketing executive, software
      entrepreneur, and a project manager for three different digital agencies. I was also
      an early adopter of Agile, picking up my ScrumMaster certification back in 2007.
    </p>
    <p>
      Over the last two decades I've worked on some of the world's largest CMS, ERP, CRM,
      and eCommerce platforms in enterprise environments. I've also worked on many smaller
      projects that everyone can relate to: brochure websites, mobile apps, web portals,
      and email marketing.
    </p>
    <p>
      I've been on the "front lines", planning and estimating projects, talking to users
      and stakeholders, collaborating with developers, eliciting requirements, testing,
      training, even troubleshooting code. I've consulted on project strategy and worked
      on technical specs, information architectures, and user experience briefs.
    </p>
    <p>
      You can see more of my work history <a href="/clients">here</a>; basically I've been
      in the digital project management game for some time.
    </p>
    <p>
      My interests are in team and organizational leadership, and in a holistic
      understanding of web and software development. I am so passionate about these topics
      I even started this website about it!
    </p>
  </article>
</BaseLayout>
